section.section.competitions
  .site-container
    .competitions__inner
      table.competitions__table
        thead.competitions__table-thead
          tr.competitions__table-tr
            th.competitions__table-th
              .competitions__table-th-text.competitions__table-th-text--name
                .competitions__table-th-text-elem Конкурс
                +icon-mono('icon__angle-small-down')(width='20px' height='20px')
            th.competitions__table-th
              .competitions__table-th-text
                .competitions__table-th-text-elem Информация
            th.competitions__table-th.competitions__table-th-text--date
              .competitions__table-th-text
                .competitions__table-th-text-elem Срок приема заявок
                +icon-mono('icon__angle-small-down')(width='20px' height='20px')
        tbody.competitions__table-tbody
          tr.competitions__table-tr
            td.competitions__table-td-1
              .competitions__table-img
                img.competitions__table-img-elem(src='assets/images/logo-geor.jpg' alt='')
              .competitions__table-text
                | Археолого-географическая экспедиция РГО «Акра»
            td.competitions__table-td-2
              .competitions__table-info
                .competitions__table-info-title
                  | Категории участников:
                .competitions__table-info-list
                  .competitions__table-info-item
                    | PhD
                  .competitions__table-info-item
                    | Кандидаты наук
                  .competitions__table-info-item
                    | Доктора наук
                  .competitions__table-info-item
                    | Молодые ученые
              .competitions__table-info
                .competitions__table-info-title
                  | Категории конкурса:
                .competitions__table-info-list
                  .competitions__table-info-item
                    | Академическая мобильность: стажировка
              .competitions__table-info
                .competitions__table-info-title
                  | Уровень:
                .competitions__table-info-list
                  .competitions__table-info-item
                    | Международный
            td.competitions__table-td-3
              .competitions__table-date
                .competitions__table-date-list
                  .competitions__table-date-item.competitions__table-date-item--start 12.02.2023
                  .competitions__table-date-item 23.05.2024
                .competitions__table-date-text
                  | Дата окончания приема заявок примерная
          tr.competitions__table-tr
            td.competitions__table-td-1
              .competitions__table-img
                img.competitions__table-img-elem(src='assets/images/logo-geor.jpg' alt='')
              .competitions__table-text
                | Ялого-географическая экспедиция РГО «Акра»
            td.competitions__table-td-2
              .competitions__table-info
                .competitions__table-info-title
                  | Категории участников:
                .competitions__table-info-list
                  .competitions__table-info-item
                    | PhD
                  .competitions__table-info-item
                    | Кандидаты наук
                  .competitions__table-info-item
                    | Доктора наук
                  .competitions__table-info-item
                    | Молодые ученые
              .competitions__table-info
                .competitions__table-info-title
                  | Категории конкурса:
                .competitions__table-info-list
                  .competitions__table-info-item
                    | Академическая мобильность: стажировка
              .competitions__table-info
                .competitions__table-info-title
                  | Уровень:
                .competitions__table-info-list
                  .competitions__table-info-item
                    | Международный
            td.competitions__table-td-3
              .competitions__table-date
                .competitions__table-date-list
                  .competitions__table-date-item.competitions__table-date-item--start 10.10.2022
                  .competitions__table-date-item 23.05.2024
                .competitions__table-date-text
                  | Дата окончания приема заявок примерная
          tr.competitions__table-tr
            td.competitions__table-td-1
              .competitions__table-img
                img.competitions__table-img-elem(src='assets/images/logo-geor.jpg' alt='')
              .competitions__table-text
                | Рафическая экспедиция РГО «Акра»
            td.competitions__table-td-2
              .competitions__table-info
                .competitions__table-info-title
                  | Категории участников:
                .competitions__table-info-list
                  .competitions__table-info-item
                    | PhD
                  .competitions__table-info-item
                    | Кандидаты наук
                  .competitions__table-info-item
                    | Доктора наук
                  .competitions__table-info-item
                    | Молодые ученые
              .competitions__table-info
                .competitions__table-info-title
                  | Категории конкурса:
                .competitions__table-info-list
                  .competitions__table-info-item
                    | Академическая мобильность: стажировка
              .competitions__table-info
                .competitions__table-info-title
                  | Уровень:
                .competitions__table-info-list
                  .competitions__table-info-item
                    | Международный
            td.competitions__table-td-3
              .competitions__table-date
                .competitions__table-date-list
                  .competitions__table-date-item.competitions__table-date-item--start 09.07.2024
                  .competitions__table-date-item 23.05.2024
                .competitions__table-date-text
                  | Дата окончания приема заявок примерная
