main.page-main.main
	+conferences-intro('Международная научно-практическая конференция', 'Инклюзия в образовании',  'Доступная наука в государственных учреждениях', 'assets/images/Time-right.jpg', true)
	include ../conferences/conferences-intellgence
	+conferences-regulations('assets/images/kazan-1.jpg', true)
	include ../conferences/conferences-program
	+conferences-requirements('assets/images/kazan-2.jpg', true)
	include ../conferences/conferences-partners
	+conferences-faq('assets/images/kazan-3.jpg', true)
