.grant-requirements
  +title('icon__exclamation', 'Требования к участникам')
  .grant-requirements__inner
    .grant-requirements__desc
      | Для  участия в конкурсе некоммерческая неправительственная организация на  дату подачи заявки должна соответствовать одновременно следующим  требованиям:
    ul.grant-requirements__list
      li.grant-requirements__item
        | не является иностранным юридическим лицом, в том числе местом регистрации которого является государство или территория, включенные в утвержденный Министерством финансов Российской Федерации перечень государств и территорий, используемых для промежуточного (офшорного) владения активами в Российской Федерации (далее - офшорные компании), а также российским юридическим лицом, в уставном (складочном) капитале которого доля прямого или косвенного (через третьих лиц) участия офшорных компаний в совокупности превышает 25 процентов (если иное не предусмотрено законодательством Российской Федерации). При расчете доли участия офшорных компаний в капитале российских юридических лиц не учитывается прямое и (или) косвенное участие офшорных компаний в капитале публичных акционерных обществ (в том числе со статусом международной компании), акции которых обращаются на организованных торгах в Российской Федерации, а также косвенное участие офшорных компаний в капитале других российских юридических лиц, реализованное через участие в капитале указанных публичных акционерных обществ;
      li.grant-requirements__item
        | не находится в перечне организаций и физических лиц, в отношении которых имеются сведения об их причастности к экстремистской деятельности или терроризму;
      li.grant-requirements__item
        | не находится в состав составляемых в рамках реализации полномочий, предусмотренных главой VII Устава ООН, Советом Безопасности ООН или органами, специально созданными решениями Совета Безопасности ООН, перечнях организаций и физических лиц, связанных с террористическими организациями и террористами или с распространением оружия массового уничтожения;
      li.grant-requirements__item
        | не получает средства из бюджета Астраханской области на основании нормативных правовых актов Астраханской области на цели, установленные пунктом 1.2 раздела l настоящего Порядка;
