.grant-stages
  +title('icon__time-fast', 'Этапы')
  .grant-stages__inner
    table.grant-stages__table
      thead.grant-stages__table-thead
        tr.grant-stages__table-row
          th Даты этапа:
          th Шаг:
          th Этап#[span  и даты]:
      tbody.grant-stages__table-tbody
        tr.grant-stages__table-row
          td
            .grant-stages__table-date
              .grant-stages__table-date-elem От 29.05.2024
              .grant-stages__table-date-elem До 28.06.2024
          td
            .grant-stages__table-number 1
          td
            .grant-stages__table-info
              .grant-stages__table-info-title
                | Прием заявок
              .grant-stages__table-info-desc
                | Заявки заполняются на портале в личном кабинете, проверяются организатором на соответствие требованиям Порядка предоставления субсидий.
              .grant-stages__table-date
                .grant-stages__table-date-elem От 29.05.2024
                .grant-stages__table-date-elem До 28.06.2024
        tr.grant-stages__table-row
          td
            .grant-stages__table-date
              .grant-stages__table-date-elem От 29.05.2024
              .grant-stages__table-date-elem До 28.06.2024
          td
            .grant-stages__table-number 2
          td
            .grant-stages__table-info
              .grant-stages__table-info-title
                | Экспертиза проектов
              .grant-stages__table-info-desc
                | Заявки заполняются на портале в личном кабинете, проверяются организатором на соответствие требованиям Порядка предоставления субсидий.
              .grant-stages__table-date
                .grant-stages__table-date-elem От 29.05.2024
                .grant-stages__table-date-elem До 28.06.2024
        tr.grant-stages__table-row
          td
            .grant-stages__table-date
              .grant-stages__table-date-elem 19.08.2024
          td
            .grant-stages__table-number 3
          td
            .grant-stages__table-info
              .grant-stages__table-info-title
                | Определение победителей и публикация результатов
              .grant-stages__table-info-desc
                | Заявки заполняются на портале в личном кабинете, проверяются организатором на соответствие требованиям Порядка предоставления субсидий.
              .grant-stages__table-date
                .grant-stages__table-date-elem 19.08.2024
        tr.grant-stages__table-row
          td
            .grant-stages__table-date
              .grant-stages__table-date-elem 21.09.2024
          td
            .grant-stages__table-number 4
          td
            .grant-stages__table-info
              .grant-stages__table-info-title
                | Даты начала и завершения заключения договора
              .grant-stages__table-info-desc
                | Заявки заполняются на портале в личном кабинете, проверяются организатором на соответствие требованиям Порядка предоставления субсидий.
              .grant-stages__table-date
                .grant-stages__table-date-elem 21.09.2024
