.input {
    padding: 0.9rem 1.6rem;
    border: 0.2rem solid var(--secondary-10);
    border-radius: 0.8rem;
    background: var(--secondary-10);
    transition: border 0.3s, background-color 0.3s;
    color: var(--white);

    &::placeholder {
        color: var(--secondary);
    }

    &:hover {
        border: 0.2rem solid var(--secondary-10);
        background-color: rgba(142, 150, 175, 0.2);
    }
}
