section.section.without-conferences
  .site-container
    .without-conferences__inner
      .without-conferences__box
        h1.without-conferences__box-title
          | На данный момент конференций нет
        .without-conferences__box-desc
          | Сейчас можете посмотреть прошлые конференции
        +button('a', 'btn--transparent', 'Медиа', '#', '', 'icon__angle-small-right-white')
      img.without-conferences__img(src="assets/images/cube-and-circle.png" alt='')
