main.page-main.main
    .sections-container
        +breadcrumbs([['Главная', "/"], ['Собственные научные издания', "/"], ['Инклюзия в образовании']])(class='breadcrumbs--large-indentation')
        include edition.pug
        include ../index/latest-news.pug
