section.section.banner-prorector
    .site-container
        .banner-prorector__inner
            .banner-prorector__title Проректор по науке
            .banner-prorector__text
                | Организацию и координацию научно-исследовательской деятельности в  университете осуществляет научно-исследовательская часть под  руководством проректора по науке, доктора экономических наук, профессора  Хамидуллина Фарида Фильзовича.
            .banner-prorector__box
                .banner-prorector__img-wrapper
                    img.banner-prorector__img(src='assets/images/user-2.jpg' alt='')
                .banner-prorector__info
                    .banner-prorector__info-title
                        | Хамидуллин Фарид Фильзович
                    .banner-prorector__info-contacts
                        +button('a', 'btn--transparent', '+7 (843) 294-83-23', 'tel:+78432948323', 'icon__phone-call', '')
                        +button('a', 'btn--transparent', 'naukatisbi@yandex.ru', 'mailto:naukatisbi@yandex.ru', 'icon__envelope', '')
                        .banner-prorector__info-contact
                            +icon-multi('icon__marker')(width='16px' height='16px')
                            .banner-prorector__info-contact-text
                                | 420012, г. Казань, ул. Муштари, дом 13, каб. 244