section.section.banner-simple
    .site-container
        .banner-simple__inner
            .banner-simple__box
                .banner-simple__title
                    | Региональное отделение Международная Академия Психологических Наук по Республики Татарстан
                .banner-simple__text
                    | Международная Академия Психологических Наук (МАПН)  создана в 1992 году. В числе основных задач Академии проектирование,  внедрение, практическая реализация, экспертиза в области теории и  практики психологии для различных сфер деятельности. Располагается МАПН  на базе Ярославского государственного университета (ЯрГУ) им. Демидова,  г. Ярославль, пер. Матросова, 9. Общая численность отделений Академии по  Российской Федерации – 25.
                .banner-simple__text
                    | Региональное отделение МАПН по Республики Татарстан  функционирует с 1996 года и в настоящее время реализует свою  деятельность на территории УВО «Университет управления «ТИСБИ» (г.  Казань, ул. Муштари, 13, каб. 232).
                +button('a', '', 'Подробнее о МАПН', '/tisbi-nauka/mapn.html', '', 'icon__angle-small-right-white')
                img.banner-simple__img(src='assets/images/brain.svg' alt='')
