main.page-main.main
    .sections-container
        +breadcrumbs([['Главная', "/"], ['О науке']])(class='breadcrumbs--large-indentation')
        include banner-prorector.pug
        include directions.pug
        include banner-simple.pug
        include ../index/mysticism.pug
        include ../index/latest-news.pug
        include player.pug