section.section.conferences-intellgence(id='intellgence')
    .site-container
        +title('icon__target', 'Основные сведения о конференции')
        .conferences-intellgence__inner
            .conferences-intellgence__item
                .conferences-intellgence__item-title Цели
                ul.conferences-intellgence__item-list
                    li.conferences-intellgence__item-elem
                        | Формирование научного видения перспектив реализации инновационной активности молодежи и ее роли в решении задач научно-технологического развития
            .conferences-intellgence__item
                .conferences-intellgence__item-title Задачи
                ul.conferences-intellgence__item-list
                    li.conferences-intellgence__item-elem
                        | Определение современных возможностей и направлений инновационной деятельности молодежи.
                    li.conferences-intellgence__item-elem
                        | Обсуждение актуальных проблем и путей реализации инновационного потенциала молодежи.
                    li.conferences-intellgence__item-elem
                        | Рассмотрение и актуализация научных приоритетов в исследованиях молодых  ученых процессов трансформирующейся научно-технологической среды.
