main.page-main.main
	+conferences-intro('Международная научно-практическая конференция', 'Наука и образование',  'Взаимодействие бизнеса и общества в условиях трансформации информационных процессов и технологий', 'assets/images/img__hero_1.png')
	include conferences-intellgence
	+conferences-regulations('assets/images/globe-lines.png')
	include conferences-program
	+conferences-requirements('assets/images/cube-3d.png')
	include conferences-partners
	+conferences-faq('assets/images/big-drops.png')
