extends layout/default.pug

block variables
	- const bodyClass = ""
	- const pageTitle = "О науке"
	- const siteLang = "ru"
	- const bodyStyle = ""

block content
	include pages/about-science/main.pug
