extends layout/default.pug

block variables
	- const bodyClass = ""
	- const pageTitle = "Архив конференции"
	- const siteLang = "ru"
	- const bodyStyle = ""

block content
	include pages/archive/main.pug