extends layout/default.pug

block variables
	- const bodyClass = "yunesko-page"
	- const pageTitle = "Наука и образование"
	- const siteLang = "en"
	- const bodyStyle = "background-image: url('assets/images/backpickcha-yunesko.jpg'); background-attachment: fixed"

block content
	include pages/conferences-yunesko/main.pug
