extends layout/default.pug

block variables
	- const bodyClass = "inklyuziya-page"
	- const pageTitle = "Наука и образование"
	- const siteLang = "en"
	- const bodyStyle = "background-color: var(--white); background-attachment: fixed"

block content
	include pages/conferences-inklyuziya/main.pug
