extends layout/default.pug

block variables
	- const bodyClass = ""
	- const pageTitle = "Журнал «Инклюзия в образовании» - О журнале"
	- const siteLang = "ru"
	- const bodyStyle = ""

block content
	include pages/edition/main.pug
