extends layout/default.pug

block variables
	- const bodyClass = ""
	- const pageTitle = "Собственные научные издания"
	- const siteLang = "ru"

block content
	include pages/own-scientific-publications/main.pug
