main.page-main.main
	+conferences-intro('Национальная научно-практическая конференция студентов, магистрантов, аспирантов и молодых ученых', 'Общество, государство, личность',  'Применение научных знаний и технологий в решении социально экономических задач региона', 'assets/images/planet.png')
	include ../conferences/conferences-intellgence
	+conferences-regulations('assets/images/calendar-img.png')
	include ../conferences/conferences-program
	+conferences-requirements('assets/images/requirements-img.png')
	include ../conferences/conferences-partners
	+conferences-faq('assets/images/handshake-phones.png')
