mixin logo(className)
    .logo(class=className)&attributes(attributes)
        a.logo__left(href="#")
            img.logo__img(src="assets/images/logo-tisbi-nauka.svg" alt="Logo")
            .logo__text
                img.logo__text-img(src="assets/images/logo-tisbi-nauka-text.svg" alt="Logo")
        .logo__line
        a.logo__right(href="https://bulattalipov.github.io/tisbi-nauka/")
            img.logo__right-img(src="assets/images/science.svg" alt="Logo")
