-
  requirementsItems = [
      {title: "Правила подготовки и отправки статьи", text: "Анкета-заявка с текстом статьи отправляется одним файлом на почту, полученную после регистрации на конференцию. Рабочие языки конференции: русский, татарский, английский, немецкий, французский."},
      {title: "Требования к статьям", text: "Авторский оригинал оформляется в электронном виде в формате документа  doc или docx в формате А4 книжной ориентации. Объем от 5 страниц. В  материалах не должно быть выделений, подстрочных символов. Шаблон оформления статьи (кнопка на скачивание документа, где будет  макет, анкета и шаблон статьи с информацией про вот эти все кегли) Аннотация и ключевые слова должны быть представлены на русском и  английском языках. Объем аннотации не менее 50 слов. Список литературы составляет не более 5 источников."},
      {title: "Проверка на плагиат", text: "Проверка осуществляется Оргкомитетом после получения статьи. Тезисы и статьи, содержащие плагиат и некорректные заимствования, а  также статьи с оригинальностью текста менее 60% (проверка осуществляется  по нескольким базам), не могут быть приняты к печати. Ранее опубликованные материалы не принимаются."},
      {title: "Стоимость участия", text: "Организационный взнос — 50 руб. за страницу авторского текста  (минимальный объем 5 стр.) и включает публикацию статьи в издании,  электронный сборник, сертификат участника, печатный сборник по запросу. Заказ дополнительного экземпляра печатного сборника — 200 руб. за  экземпляр."},
  ]
mixin conferences-requirements(imgUrl, rightText)
  section.section.conferences-requirements(id='requirements')
      .site-container
          +title('icon__exclamation', 'Требования к публикации статей')
          .conferences-requirements__inner
              ul.conferences-requirements__list
                  each item in requirementsItems
                      li.conferences-requirements__item
                          .conferences-requirements__item-title= item.title
                          .conferences-requirements__item-text= item.text
              .conferences-requirements__right
                  img.conferences-requirements__img(src=imgUrl alt="")
                  if rightText
                    .conferences-requirements__right-title
                      | Успенский собор и монастырь острова-града Свияжск
                    .conferences-requirements__right-desc
                      | В 2023 году внесен в список объектов всемирного наследия ЮНЕСКО в России
