mixin timer(withButtons, addBlock)
    .timer&attributes(attributes)
        .timer__completed
            .timer__completed-title Регистрация завершена
        .timer__current
            .timer__contain
                +icon-multi("icon__info")(width="24px" height="24px")
                .timer__text
                    | До конца регистрации осталось
            .timer__date.loading.timer-box(data-time="2025-11-14")
                .timer__date-box #[span(class="timer-days") 00]
                .timer__date-line
                .timer__date-box #[span(class="timer-hours") 00]
                .timer__date-line
                .timer__date-box  #[span(class="timer-minutes") 00]
            if withButtons
                .timer__btns
                    +button('button', 'timer__btn--registration', 'Зарегистрироваться', '', '', 'icon__angle-small-right-white')(data-path="modal-registration")
                    +button('a', 'btn--transparent', 'Архив', '/tisbi-nauka/archive.html', '', 'icon__angle-small-right-white')
            if addBlock
                .timer__box
                    .timer__box-title Начало конференции
                    .timer__box-date
                        +icon-multi("icon__calendar")(width="24px" height="24px")
                        .timer__box-date-text 26.04.2024
                        .timer__box-date-add 11:30
