section.section.intro
    .swiper.intro__img-slider
        .swiper-wrapper.intro__img-slider-wrapper
            .swiper-slide.intro__img-slider-item
                img.intro__img-slider-item-img(src='assets/images/intro/slider-1.jpg' alt='')
            .swiper-slide.intro__img-slider-item
                img.intro__img-slider-item-img(src='assets/images/intro/slider-2.jpg' alt='')
            .swiper-slide.intro__img-slider-item
                img.intro__img-slider-item-img(src='assets/images/intro/slider-1.jpg' alt='')
            .swiper-slide.intro__img-slider-item
                img.intro__img-slider-item-img(src='assets/images/intro/slider-2.jpg' alt='')
    .site-container
        .intro__inner
            .swiper.intro__text-slider
                .swiper-wrapper.intro__text-slider-wrapper
                    .swiper-slide.intro__text-slider-item
                        .intro__text-slider-item-title
                            | Математическое моделирование интеллектуальных систем
                        p.intro__text-slider-item-text
                            | В рамках декады студенческой науки состоялся круглый стол, организованный доцентом кафедры математики Л.Р. Пантелеевой
                        +button('a', '', 'Перейти к новости', '#', '', 'icon__angle-small-right-white')
                    .swiper-slide.intro__text-slider-item
                        .intro__text-slider-item-title
                            | Заголовок слайда
                        p.intro__text-slider-item-text
                            | Описание слайдаОписание слайдаОписание слайдаОписание слайдаОписание слайдаОписание слайдаОписание слайда
                        +button('a', '', 'Кнопка  с переходом', '#', '', 'icon__angle-small-right-white')
                    .swiper-slide.intro__text-slider-item
                        .intro__text-slider-item-title
                            | Математическое моделирование интеллектуальных систем
                        p.intro__text-slider-item-text
                            | В рамках декады студенческой науки состоялся круглый стол, организованный доцентом кафедры математики Л.Р. Пантелеевой
                        +button('a', '', 'Перейти к новости', '#', '', 'icon__angle-small-right-white')
                    .swiper-slide.intro__text-slider-item
                        .intro__text-slider-item-title
                            | Заголовок слайда
                        p.intro__text-slider-item-text
                            | Описание слайдаОписание слайдаОписание слайдаОписание слайдаОписание слайдаОписание слайдаОписание слайда
                        +button('a', '', 'Кнопка  с переходом', '#', '', 'icon__angle-small-right-white')
                +swiper-nav()
