main.page-main.main
    include intro.pug
    .sections-container
        include additional.pug
        +section-results
        section.section.conferences-intro.conferences-intro--mini
            .site-container
                .conferences-intro__inner(style="background-image: url('assets/images/conference-banner.png")
                    .conferences-intro__box
                        .conferences-intro__small-text
                            | Международная научно-практическая конференция
                        h2.conferences-intro__title
                            | Наука и образование
                        p.conferences-intro__subtitle
                            | «Общество, государство, личность: механизмы инновационной деятельности  молодежи в решении задач научно-технологического развития»
                        ul.conferences-intro__tags
                            li.conferences-intro__tag Русский
                            li.conferences-intro__tag Английский
                            li.conferences-intro__tag Татарский
                    .conferences-intro__right
                        img.conferences-intro__img(src="assets/images/img__hero_1.png" alt="")
                        +timer(true)
                    .conferences-intro__box
                        ul.conferences-intro__info
                            li.conferences-intro__info-item
                                +icon-multi("icon__calendar")(width="24px" height="24px")
                                .conferences-intro__info-item-text 26.04.2024
                                    span.conferences-intro__info-item-add 11:30
                            li.conferences-intro__info-item
                                +icon-multi("icon__marker")(width="24px" height="24px")
                                .conferences-intro__info-item-text Казань, ул. Муштари, д.13
                            li.conferences-intro__info-item
                                +icon-multi("icon__what")(width="24px" height="24px")
                                .conferences-intro__info-item-text Смешанная
        section.section.conferences-intro.conferences-intro--mini.inklyuziya-page
            .site-container
                .conferences-intro__inner(style="background-color: var(--white)")
                    .conferences-intro__box
                        .conferences-intro__small-text
                            | Международная научно-практическая конференция
                        h2.conferences-intro__title
                            | Инклюзия в образовании
                        p.conferences-intro__subtitle
                            | Доступная наука в государственных учреждениях
                        ul.conferences-intro__tags
                            li.conferences-intro__tag Русский
                            li.conferences-intro__tag Английский
                            li.conferences-intro__tag Татарский
                    .conferences-intro__right
                        img.conferences-intro__img(src="assets/images/img__hero_3.png" alt="")
                        +timer(true)
                    .conferences-intro__box
                        ul.conferences-intro__info
                            li.conferences-intro__info-item
                                +icon-multi("icon__calendar")(width="24px" height="24px")
                                .conferences-intro__info-item-text 26.04.2024
                                    span.conferences-intro__info-item-add 11:30
                            li.conferences-intro__info-item
                                +icon-multi("icon__marker")(width="24px" height="24px")
                                .conferences-intro__info-item-text Казань, ул. Муштари, д.13
                            li.conferences-intro__info-item
                                +icon-multi("icon__what")(width="24px" height="24px")
                                .conferences-intro__info-item-text Смешанная
        section.section.conferences-intro.conferences-intro--mini.law-page
            .site-container
                .conferences-intro__inner(style="background-image: url('assets/images/backpickcha-law.jpg')")
                    .conferences-intro__box
                        .conferences-intro__small-text
                            | Всероссийская научно-практическая конференция (с международным участием )
                        h2.conferences-intro__title
                            | Основные тенденции развития современного права
                        p.conferences-intro__subtitle
                            | Проблемы теории и практики
                        ul.conferences-intro__tags
                            li.conferences-intro__tag Русский
                            li.conferences-intro__tag Английский
                            li.conferences-intro__tag Татарский
                    .conferences-intro__right
                        img.conferences-intro__img(src="assets/images/img__hero_2.png" alt="")
                        +timer(true)
                    .conferences-intro__box
                        ul.conferences-intro__info
                            li.conferences-intro__info-item
                                +icon-multi("icon__calendar")(width="24px" height="24px")
                                .conferences-intro__info-item-text 26.04.2024
                                    span.conferences-intro__info-item-add 11:30
                            li.conferences-intro__info-item
                                +icon-multi("icon__marker")(width="24px" height="24px")
                                .conferences-intro__info-item-text Казань, ул. Муштари, д.13
                            li.conferences-intro__info-item
                                +icon-multi("icon__what")(width="24px" height="24px")
                                .conferences-intro__info-item-text Смешанная
        section.section.conferences-intro.conferences-intro--mini.society-page
            .site-container
                .conferences-intro__inner(style="background-image: url('assets/images/backpickcha-society.png')")
                    .conferences-intro__box
                        .conferences-intro__small-text
                            | Международная научно-практическая конференция
                        h2.conferences-intro__title
                            | Общество, государство, личность
                        p.conferences-intro__subtitle
                            | Применение научных знаний и технологий в решении социально экономических задач региона
                        ul.conferences-intro__tags
                            li.conferences-intro__tag Русский
                            li.conferences-intro__tag Английский
                            li.conferences-intro__tag Татарский
                    .conferences-intro__right
                        img.conferences-intro__img(src="assets/images/planet.png" alt="")
                        +timer(true)
                    .conferences-intro__box
                        ul.conferences-intro__info
                            li.conferences-intro__info-item
                                +icon-multi("icon__calendar")(width="24px" height="24px")
                                .conferences-intro__info-item-text 26.04.2024
                                    span.conferences-intro__info-item-add 11:30
                            li.conferences-intro__info-item
                                +icon-multi("icon__marker")(width="24px" height="24px")
                                .conferences-intro__info-item-text Казань, ул. Муштари, д.13
                            li.conferences-intro__info-item
                                +icon-multi("icon__what")(width="24px" height="24px")
                                .conferences-intro__info-item-text Смешанная
        section.section.conferences-intro.conferences-intro--mini.yunesko-page
            .site-container
                .conferences-intro__inner(style="background-image: url('assets/images/backpickcha-yunesko.jpg')")
                    .conferences-intro__box
                        .conferences-intro__logos
                            img.conferences-intro__logo-item(src='assets/images/Logo_UNESCO_new_1.svg')
                            img.conferences-intro__logo-item(src='assets/images/logo-tisbi.svg')
                        .conferences-intro__small-text
                            | Международная научно-практическая конференция
                        p.conferences-intro__subtitle
                            | Трансформация образовательного пространства для устойчивого будущего
                        ul.conferences-intro__tags
                            li.conferences-intro__tag Русский
                            li.conferences-intro__tag Английский
                            li.conferences-intro__tag Татарский
                    .conferences-intro__right
                        img.conferences-intro__img(src="assets/images/Time-right.jpg" alt="")
                        +timer(true)
                    .conferences-intro__box
                        ul.conferences-intro__info
                            li.conferences-intro__info-item
                                +icon-multi("icon__calendar")(width="24px" height="24px")
                                .conferences-intro__info-item-text 26.04.2024
                                    span.conferences-intro__info-item-add 11:30
                            li.conferences-intro__info-item
                                +icon-multi("icon__marker")(width="24px" height="24px")
                                .conferences-intro__info-item-text Казань, ул. Муштари, д.13
                            li.conferences-intro__info-item
                                +icon-multi("icon__what")(width="24px" height="24px")
                                .conferences-intro__info-item-text Смешанная
        include latest-news.pug
        include active-grants.pug
        +upcoming-events
        include mysticism.pug
        include scientific-clubs.pug
