main.page-main.main
    .sections-container
        +breadcrumbs([['Главная', "/"], ['Научные школы']])(class='breadcrumbs--large-indentation')
        include scientific-schools.pug
        include ../index/latest-news.pug