+button('button', 'btn--cube fixed-btn', '', '', '', 'icon__caret-up')
footer.footer
	.site-container
		+logo('footer__logo')
		.footer__inner
			.footer__address
				.footer__subtitle Адреса
				.footer__address-elem ул. Муштари, 11/43
				.footer__address-elem ул. Муштари, 13 (вход с ул. Маяковского)
			.footer__telephone
				.footer__subtitle Телефон
				a.footer__telephone-elem(href="tel:+78432948306") +7 (843) 294-83-06
			.footer__socials
				.footer__subtitle Мы в социальных сетях
				ul.footer__socials-list
					+button('a', 'btn--transparent btn--cube', '', '#',  '', 'vk')
					+button('a', 'btn--transparent btn--cube', '', '#', '', 'telegram')
					+button('a', 'btn--transparent btn--cube', '', '#', '', 'youtube')
					+button('a', 'btn--transparent btn--cube', '', '#', '', 'rutube')
					+button('a', 'btn--transparent btn--cube', '', '#', '', 'dzen')
		.footer__bottom
			a.footer__bottom-text(href="#") Политика конфиденциальности
			a.footer__bottom-text(href="#") Условиям использования Google
			a.footer__bottom-text(href="#") Политика конфиденциальности
			a.footer__bottom-text(href="#") Политика конфиденциальности


