-
  navLinks = [
    {title: "О науке", link: "/tisbi-nauka/about-science.html"},
    {title: "Мероприятия", link: "/tisbi-nauka/events.html"},
    {title: "Издания", link: "/tisbi-nauka/own-scientific-publications.html"},
    {title: "Конференции", link: "/tisbi-nauka/conferences.html"},
    {title: "Гранты", link: "/tisbi-nauka/competitions.html"},
  ]

.menu
  nav.nav
    ul.nav__list
      for item in navLinks
        li.nav__item
          a.nav__link(href=item.link)= item.title
  .menu__langs
    +button('a', 'btn--transparent', 'Русский', '#', 'icon__lang', '')
    +button('a', 'btn--transparent', 'English', '#', 'icon__lang', '')
    +button('a', 'btn--transparent', 'Deutsland', '#', 'icon__lang', '')
    +button('a', 'btn--transparent', 'Francais', '#', 'icon__lang', '')
