-
    latestNews = [
       {imgUrl: 'assets/images/latest-news/image-1.jpg', title: 'Студенты «ТИСБИ» – номинанты Всероссийского конкурса', text: 'Казани состоялась церемония награждения победителей конкурса научных работ имени Н.И. Лобачевского'},
       {imgUrl: 'assets/images/latest-news/image-2.jpg', title: 'XIII Молодежная премия в области науки и инноваций', text: 'Прими участие и выиграй 100.000 рублей '},
       {imgUrl: 'assets/images/latest-news/image-3.jpg', title: 'Открытие ежегодной научно-практической конференции', text: 'В «ТИСБИ» прошла научная конференция «Наука, образование: современные цифровые технологии формирования экосреды инновационного развития региона в условиях системных преобразований» '},
       {imgUrl: 'assets/images/latest-news/image-4.jpg', title: 'Опубликованы результаты Открытого Конкурса научных работ студентов им. Н.И. Лобачевского', text: 'Студенты Университета управления «ТИСБИ» в числе победителей и призеров '},
       {imgUrl: 'assets/images/latest-news/image-1.jpg', title: 'Студенты «ТИСБИ» – номинанты Всероссийского конкурса', text: 'Казани состоялась церемония награждения победителей конкурса научных работ имени Н.И. Лобачевского'},
       {imgUrl: 'assets/images/latest-news/image-2.jpg', title: 'XIII Молодежная премия в области науки и инноваций', text: 'Прими участие и выиграй 100.000 рублей '},
       {imgUrl: 'assets/images/latest-news/image-3.jpg', title: 'Открытие ежегодной научно-практической конференции', text: 'В «ТИСБИ» прошла научная конференция «Наука, образование: современные цифровые технологии формирования экосреды инновационного развития региона в условиях системных преобразований» '},
       {imgUrl: 'assets/images/latest-news/image-4.jpg', title: 'Опубликованы результаты Открытого Конкурса научных работ студентов им. Н.И. Лобачевского', text: 'Студенты Университета управления «ТИСБИ» в числе победителей и призеров '},
       {imgUrl: 'assets/images/latest-news/image-1.jpg', title: 'Студенты «ТИСБИ» – номинанты Всероссийского конкурса', text: 'Казани состоялась церемония награждения победителей конкурса научных работ имени Н.И. Лобачевского'},
       {imgUrl: 'assets/images/latest-news/image-2.jpg', title: 'XIII Молодежная премия в области науки и инноваций', text: 'Прими участие и выиграй 100.000 рублей '},
       {imgUrl: 'assets/images/latest-news/image-3.jpg', title: 'Открытие ежегодной научно-практической конференции', text: 'В «ТИСБИ» прошла научная конференция «Наука, образование: современные цифровые технологии формирования экосреды инновационного развития региона в условиях системных преобразований» '},
       {imgUrl: 'assets/images/latest-news/image-4.jpg', title: 'Опубликованы результаты Открытого Конкурса научных работ студентов им. Н.И. Лобачевского', text: 'Студенты Университета управления «ТИСБИ» в числе победителей и призеров '},
       {imgUrl: 'assets/images/latest-news/image-1.jpg', title: 'Студенты «ТИСБИ» – номинанты Всероссийского конкурса', text: 'Казани состоялась церемония награждения победителей конкурса научных работ имени Н.И. Лобачевского'},
       {imgUrl: 'assets/images/latest-news/image-2.jpg', title: 'XIII Молодежная премия в области науки и инноваций', text: 'Прими участие и выиграй 100.000 рублей '},
       {imgUrl: 'assets/images/latest-news/image-3.jpg', title: 'Открытие ежегодной научно-практической конференции', text: 'В «ТИСБИ» прошла научная конференция «Наука, образование: современные цифровые технологии формирования экосреды инновационного развития региона в условиях системных преобразований» '},
       {imgUrl: 'assets/images/latest-news/image-4.jpg', title: 'Опубликованы результаты Открытого Конкурса научных работ студентов им. Н.И. Лобачевского', text: 'Студенты Университета управления «ТИСБИ» в числе победителей и призеров '},
    ]

section.section.news
    .site-container
        .news__wrapper
            .news__list
                each item in latestNews
                    .latest-news__slider-item
                        .latest-news__slider-item-contain
                            img.latest-news__slider-item-img(src=item.imgUrl alt='')
                            .latest-news__slider-item-date 24.07 #[span 2024]
                        .latest-news__slider-item-info
                            h5.latest-news__slider-item-info-title
                                a(href="#")= item.title
                            .latest-news__slider-item-info-desc= item.text
                            ul.latest-news__slider-item-info-tags
                                li.latest-news__slider-item-info-tag Фестиваль
                                li.latest-news__slider-item-info-tag Конкурс
                                li.latest-news__slider-item-info-tag Иностранный язык