main.page-main.main
	+conferences-intro('Всероссийская научно-практическая конференция (с международным участием )', 'Основные тенденции развития современного права',  'Проблемы теории и практики', 'assets/images/img__hero_2.png')
	include ../conferences/conferences-intellgence
	+conferences-regulations('assets/images/clock-image.jpg')
	include ../conferences/conferences-program
	+conferences-requirements('assets/images/sculptures.jpg')
	include ../conferences/conferences-partners
	+conferences-faq('assets/images/sculptures-2.jpg')
