.results {

  &__slider {
    @include mq(custom, max, 640) {
      margin: 0 -1.6rem;
      padding: 0 1.6rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4.8rem;

    @include mq(lg) {
      gap: 2.4rem;
    }

    @include mq(custom, max, 640) {
      display: flex;
      gap: 0;
    }
  }

  &__item {
    min-height: 212px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.6rem;
    border-radius: 1.6rem;
    padding: 2.4rem;
    backdrop-filter: blur(1.2rem);
    background: var(--block-10-blur);
    height: 100% !important;

    @include mq(custom, max, 1024) {
      min-height: 19.6rem;
    }

    &--big {
      grid-column: span 2;
    }
  }

  &__item-title {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 4.8rem;
    color: var(--white);
    line-height: 122.5%;

    @include mq(custom, max, 1024) {
      font-size: 3.2rem;
    }
  }

  &__item-text {
    border-left: 0.1rem solid var(--main);
    padding-left: 2.4rem;
    line-height: 122.5%;
    font-weight: 400;
    font-size: 2.4rem;
    color: var(--secondary);
    word-break: break-word;

    @include mq(custom, max, 1024) {
      font-size: 1.6rem;
      padding-left: 1.6rem;
    }
  }
}
