main.page-main.main
	+conferences-intro('Международная научно-практическая конференция', 'Инклюзия в образовании',  'Доступная наука в государственных учреждениях', 'assets/images/img__hero_3.png')
	include ../conferences/conferences-intellgence
	+conferences-regulations('assets/images/conferences-regulations__img.png')
	include ../conferences/conferences-program
	+conferences-requirements('assets/images/conferences-requirements__img.png')
	include ../conferences/conferences-partners
	+conferences-faq('assets/images/conferences-faq__img.png')
