main.page-main.main
    .sections-container
        +breadcrumbs([['Главная', "/"], ['О науке', "/"], ['Международная академия психологических наук']])(class='breadcrumbs--large-indentation')
        include ../about-science/banner-simple.pug
        include mapn.pug
        include ../index/latest-news.pug
