section.section.event
    .site-container
        .event__wrapper
            .event__base
              .mapn
                .mapn__title Как стать членом МАПН
                .mapn__text
                  p
                    | Конкурс на замещение вакантных мест членов-корреспондентов Международной Академии психологических наук проводится ежеквартально.
                  p
                    | Для участия в конкурсе необходимо подать заявление на имя Президента МАП
                .mapn__tags
                  .mapn__tag Заявление соискателя ученого звания
                  .mapn__tag Анкета
                  .mapn__tag Сканированные копии дипломов о высшем образовании, ученом звании и степени.
                .mapn__text
                  p
                    | По запросу ученого секретаря Академии могут быть представлены дополнительные документы (копии патентов, списки опубликованных работ, монографии, учебные пособия и пр.)
              .mapn
                .mapn__title Руководители МАПН
                ul.mapn__users
                  li.mysticism__participant-item
                      .mysticism__participant-item-img-wrapper
                          img.mysticism__participant-item-img(src='assets/images/user.jpg' alt='')
                      .mysticism__participant-item-info
                          .mysticism__participant-item-title Козлов В.В.
                          .mysticism__participant-item-educ
                            | президент академии МАПН, ведущий трансперсолог России, основатель интегративной психологии, действительный член академии, профессор.
                  li.mysticism__participant-item
                      .mysticism__participant-item-img-wrapper
                          img.mysticism__participant-item-img(src='assets/images/user.jpg' alt='')
                      .mysticism__participant-item-info
                          .mysticism__participant-item-title Грязнов А.Н.
                          .mysticism__participant-item-educ
                            | руководитель Регионального отделения МАПН по РТ, доктор психологических наук.
                  li.mysticism__participant-item
                      .mysticism__participant-item-img-wrapper
                          img.mysticism__participant-item-img(src='assets/images/user.jpg' alt='')
                      .mysticism__participant-item-info
                          .mysticism__participant-item-title Грузкова С.Ю.
                          .mysticism__participant-item-educ
                            | заместитель руководителя Регионального отделения МАПН по РТ, кандидат технических наук.
              .mapn
                .mapn__title Развитие научных связей
                .mapn__text
                  p
                    | Региональным отделением МАПН по Республике Татарстан совместно с УВО «Университет управления «ТИСБИ» создана научно-экспериментальная площадка Менделеевского муниципального района Республики Татарстан. В рамках проекта осуществляется реализация «Стратегии развития Менделеевского муниципального района до 2030 года».
                  p
                    | Сотрудниками МАПН по Республике Татарстан разработано новое направление в социальной психологии «Терциарная социализация аддиктивной личности». Проект одобрен Бюро профессионального образования Российской академии образования (протокол № 6 от 23 июня 2010 года).
                  p
                    | Традиционными являются ежегодные научно-практические конференции с привлечением известных ученых и профессионалов-практиков из Татарстана, России, ближнего и дальнего зарубежья.
                .mapn__title Научная карьера
                .mapn__text
                  p
                    | Региональным отделением МАПН по Республике Татарстан совместно с УВО «Университет управления «ТИСБИ» создана научно-экспериментальная площадка Менделеевского муниципального района Республики Татарстан. В рамках проекта осуществляется реализация «Стратегии развития Менделеевского муниципального района до 2030 года».
                .mapn__title Члены-корреспонденты МАПН
                .mapn__text
                  .mapn__text-box
                    .mapn__text-box-title АЮПОВ А.А.
                    p
                      | д-р экон. наук, профессор Университета управления «ТИСБИ» (г. Казань).
                  .mapn__text-box
                    .mapn__text-box-title АЮПОВ А.А.
                    p
                      | д-р экон. наук, профессор Университета управления «ТИСБИ» (г. Казань).
                  .mapn__text-box
                    .mapn__text-box-title АЮПОВ А.А.
                    p
                      | д-р экон. наук, профессор Университета управления «ТИСБИ» (г. Казань).
                  .mapn__text-box
                    .mapn__text-box-title АЮПОВ А.А.
                    p
                      | д-р экон. наук, профессор Университета управления «ТИСБИ» (г. Казань).
                  .mapn__text-box
                    .mapn__text-box-title АЮПОВ А.А.
                    p
                      | д-р экон. наук, профессор Университета управления «ТИСБИ» (г. Казань).
                  .mapn__text-box
                    .mapn__text-box-title АЮПОВ А.А.
                    p
                      | д-р экон. наук, профессор Университета управления «ТИСБИ» (г. Казань).
                .mapn__title Действительные члены МАПН
                .mapn__text
                  .mapn__text-box
                    .mapn__text-box-title АЮПОВ А.А.
                    p
                      | д-р экон. наук, профессор Университета управления «ТИСБИ» (г. Казань).
                  .mapn__text-box
                    .mapn__text-box-title АЮПОВ А.А.
                    p
                      | д-р экон. наук, профессор Университета управления «ТИСБИ» (г. Казань).
                  .mapn__text-box
                    .mapn__text-box-title АЮПОВ А.А.
                    p
                      | д-р экон. наук, профессор Университета управления «ТИСБИ» (г. Казань).
                  .mapn__text-box
                    .mapn__text-box-title АЮПОВ А.А.
                    p
                      | д-р экон. наук, профессор Университета управления «ТИСБИ» (г. Казань).
                  .mapn__text-box
                    .mapn__text-box-title АЮПОВ А.А.
                    p
                      | д-р экон. наук, профессор Университета управления «ТИСБИ» (г. Казань).
                  .mapn__text-box
                    .mapn__text-box-title АЮПОВ А.А.
                    p
                      | д-р экон. наук, профессор Университета управления «ТИСБИ» (г. Казань).
            .event__right
                .event__contacts
                    .event__contacts-img-wrapper
                        img.event__contacts-img(src="assets/images/building.png" alt='')
                    .event__contacts-info
                        .event__contacts-info-title Контакты
                        .event__contacts-info-contain
                            +icon-multi('icon__phone-call')(width='16px' height='16px')
                            .event__contacts-info-contain-text #[span Городской] 8 (843) 294-83-06
                        .event__contacts-info-contain
                            +icon-multi('icon__phone-call')(width='16px' height='16px')
                            .event__contacts-info-contain-text #[span Сотовый] 8 (987) 296-89-99
                        .event__contacts-info-contain
                            +icon-multi('icon__phone-call')(width='16px' height='16px')
                            .event__contacts-info-contain-text #[span Внутренний] 129
                        .event__contacts-info-contain
                            +icon-multi('icon__marker')(width='16px' height='16px')
                            .event__contacts-info-contain-text 420012, г. Казань, ул. Муштари, дом 13, каб. 243
                        .event__contacts-info-box
                          .event__contacts-info-box-title Документы высылать по электронной почте:
                          +button('a', '', 'angkazan@rambler.ru', 'mailto:naukatisbi@yandex.ru', 'icon__envelope', 'icon__angle-small-right-white')
