section.section.event
    .site-container
        .event__wrapper
            .event__base
                .upcoming-events__item
                    .upcoming-events__item-top
                        .upcoming-events__item-top-box
                            .upcoming-events__item-top-box-type Лекция
                            .upcoming-events__item-top-box-title Наука
                        ul.upcoming-events__item-top-tags
                            li.upcoming-events__item-top-tag Очное
                            li.upcoming-events__item-top-tag Очное
                            li.upcoming-events__item-top-tag Студенты
                    .upcoming-events__item-title
                        | Международный конкурс молодежных научных работ по проблемам кооперации «Молодежь и кооперация»
                    .upcoming-events__item-desc
                        | Конкурс проводится среди студентов кооперативных вузов стран СНГ. Организаторы: Белгородский университет кооперации, экономики и права, Белорусский торгово-экономический университет потребительской кооперации, кафедра ЮНЕСКО «Образование для устойчивого развития кооперативов» при Белгородском университете кооперации, экономики и права. Конкурс ежегодно приводится в БУКЭП с 17 октября по 17 мая.
                    .upcoming-events__item-subblock
                        .upcoming-events__item-subblock-title
                            | Задачи
                        .upcoming-events__item-subblock-texts
                            p
                                |– развитие научно-исследовательской работы студентов и аспирантов по актуальным направлениям развития международного кооперативного движения и повышения эффективности социально-экономической деятельности кооперативных организаций России и стран СНГ;
                            p
                                |– пропаганда кооперативной идеологии, ценностей и принципов;
                            p
                                |– формирование кадрового потенциала для кооперативных организаций и предприятий;
                            p
                                |– обоснование направлений развития международного кооперативного движения и разработка рекомендаций по повышению эффективности социально-экономической деятельности кооперативов.
                    .upcoming-events__item-subblock
                        .upcoming-events__item-subblock-title
                            | Основные требования к молодежным научным работам, представляемым на Конкурс:
                        .upcoming-events__item-subblock-texts
                            p
                                |– работы должны быть выполнены на актуальную тему;
                            p
                                |– пропаганда кооперативной идеологии, ценностей и принципов;
                            p
                                |– должны иметь титульный лист, оформленный по форме согласно приложению 1, содержание, введение, основную часть, заключение, список использованных источников, приложения;
                            p
                                |– должны быть выполнены в электронном виде в формате A4 в текстовом редакторе Microsoft Word, Шрифт Times New Roman, кегль N 14, междустрочный интервал – 1,5, абзацный отступ – 1,25;
                            p
                                |– текст следует располагать, соблюдая следующие размеры полей: правое – не менее 10 мм, верхнее и нижнее – не менее 20 мм, левое – не менее 30 мм; объем работы от 20 до 40 печатных страниц, включая рисунки и таблицы;
                            p
                                |– должны иметь отзыв научного руководителя и рецензию независимого эксперта из числа высококвалифицированных ученых и специалистов;
                            p
                                |– иметь отчет о проверке в системе «Антиплагиат», подписанный научным руководителем;
                            p
                                |– к участию допускаются научные работы при наличии в них не менее 60% оригинального текста и одновременно не более 10% заимствований из одного источника по результатам отчета о проверке в системе «Антиплагиат»;
                            p
                                |– все документы и приложения необходимо отправить в научно-исследовательский центр Белгородского университета кооперации, экономики и права по e-mail: pror-nr-pr@bukep.ru.
                            p
                                |В «Теме» сообщения необходимо указать: название Конкурса, образовательную организацию, фамилию участника(ов).
                    .upcoming-events__item-subblock
                        .upcoming-events__item-subblock-title
                            | Организаторы:
                        .upcoming-events__item-subblock-texts
                            p
                                |Белгородский университет кооперации, экономики и права, Белорусский торгово-экономический университет потребительской кооперации, кафедра ЮНЕСКО «Образование для устойчивого развития кооперативов» при Белгородском университете кооперации, экономики и права.
                .event__documents
                    +title('icon__file', 'Документы')
                    .event__documents-inner
                        .event__documents-item
                            .event__documents-item-info
                                +icon-multi('icon__document')(width='24px' height='24px' class='event__documents-item-img')
                                .event__documents-item-title Длинное название файла
                            .event__documents-item-box
                                .event__documents-item-type PDF
                                .event__documents-item-size 143,7КБ
                                +button('a', 'btn--transparent btn--cube', '', '#', '', 'icon__cloud-download')
                        .event__documents-item
                            .event__documents-item-info
                                +icon-multi('icon__document')(width='24px' height='24px' class='event__documents-item-img')
                                .event__documents-item-title Длинное название файла
                            .event__documents-item-box
                                .event__documents-item-type PDF
                                .event__documents-item-size 143,7КБ
                                +button('a', 'btn--transparent btn--cube', '', '#', '', 'icon__cloud-download')
                        .event__documents-item
                            .event__documents-item-info
                                +icon-multi('icon__document')(width='24px' height='24px' class='event__documents-item-img')
                                .event__documents-item-title Длинное название файла
                            .event__documents-item-box
                                .event__documents-item-type PDF
                                .event__documents-item-size 143,7КБ
                                +button('a', 'btn--transparent btn--cube', '', '#', '', 'icon__cloud-download')
            .event__right
                .event__info
                    .event__info-title
                        +icon-multi('icon__physics')(width='24px' height='24px')
                        .event__info-title-text Информация о мероприятии
                    .event__info-btns
                        +button('a', 'btn--transparent', 'Распечатать', '#', '', 'icon__print')
                        +button('a', 'btn--transparent', 'Поделиться', '#', '', 'icon__redo')
                    .event__info-box.event__info-box--big
                         .event__info-box-title Начало мероприятия
                         .event__info-box-text 8 сентября 2024 #[span 16:00]
                    .event__info-box.event__info-box--big
                         .event__info-box-title Окончание мероприятия
                         .event__info-box-text 16 сентября 2024 #[span 16:00]
                    .event__info-timer
                        +timer()(data-timer-show-later="5")
                        .event__info-timer-last-date
                           | #[span до] 16 сентября 2024 #[span 16:00]
                    .event__info-box
                         .event__info-box-title Тип участия:
                         .event__info-box-text Онлайн
                    .event__info-box
                         .event__info-box-title Место проведения
                         .event__info-box-text Казань, ул. Муштари, д.13
                    .event__info-box
                         .event__info-box-title Категории участников:
                         .event__info-box-texts
                            .event__info-box-text Аспиранты
                            .event__info-box-text Молодые ученые
                            .event__info-box-text Преподаватели
                            .event__info-box-text Студенты
                    +button('a', 'event__info-btn', 'Принять участие', '#', '', 'icon__angle-small-right-white')

                .event__contacts
                    .event__contacts-img-wrapper
                        img.event__contacts-img(src="assets/images/building.png" alt='')
                    .event__contacts-info
                        .event__contacts-info-title Контактные данные
                        .event__contacts-info-user
                            .event__contacts-info-user-img
                                img.event__contacts-info-user-img-elem(src='assets/images/user-3.jpg' alt='')
                            .event__contacts-info-user-box
                                .event__contacts-info-user-name
                                    | Фамилия Имя Отчество
                                .event__contacts-info-user-prof
                                    | Профессор
                        .event__contacts-info-contain
                            +icon-multi('icon__phone-call')(width='16px' height='16px')
                            .event__contacts-info-contain-text +7 (843) 294-83-06
                        .event__contacts-info-contain
                            +icon-multi('icon__envelope')(width='16px' height='16px')
                            .event__contacts-info-contain-text anastasygonina@yandex.ru