.conferences-intellgence {
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4.8rem;

        @include mq(lg) {
            gap: 2.4rem;
        }

        @include mq(custom, max, 640) {
            display: flex;
            flex-direction: column;
        }
    }

    &__item {
        height: fit-content;
        padding: 2.4rem;
        border-radius: 1.6rem;
        backdrop-filter: blur(1.2rem);
        background: var(--nauka-yuristy-block-70);

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            inset: 0;
            border-radius: 1.6rem;
            padding: 0.14rem;
            background: linear-gradient(to bottom, #989898, #202020);
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
            opacity: 0.4;
        }
    }

    &__item-title {
        font-weight: 400;
        font-size: 2.4rem;
        color: var(--white);
        margin-bottom: 2.4rem;

        @include mq(custom, max, 640) {
            font-size: 1.8rem;
        }
    }

    &__item-list {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &__item-elem {
        display: flex;
        align-items: center;
        gap: 2.4rem;
        position: relative;
        color: var(--secondary);
        line-height: 136%;

        &::before {
            content: '';
            position: relative;
            width: 3.2rem;
            height: 3.2rem;
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='8' fill='%23FF5C00' /%3E%3Ccircle opacity='0.4' cx='16' cy='16' r='16' fill='%23FF5C00' /%3E%3C/svg%3E");
            flex-shrink: 0;

            @include mq(custom, max, 760) {
                display: none;
            }
        }
    }
}