.conferences-requirements {
    position: relative;

    &__inner {
        position: relative;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 4.8rem;

        @include mq(lg) {
            gap: 2.4rem;
        }

        @include mq(custom, max, 1024) {
            display: flex;
        }

        @include mq(custom, max, 640) {
            margin: 0 -1.6rem;
        }
    }

    &__list {
        position: relative;
        grid-column: span 5;
        border-radius: 1.6rem;
        padding: 2.4rem;
        backdrop-filter: blur(1.2rem);
        background: var(--nauka-yuristy-block-70);

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            inset: 0;
            border-radius: 1.6rem;
            padding: 0.14rem;
            background: linear-gradient(to bottom, #989898, #202020);
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: destination-out;
            mask-composite: exclude;
            opacity: 0.4;
        }

        @include mq(custom, max, 640) {
            border-radius: 0;
        }
    }

    &__right {
      grid-column: span 3;
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 1.6rem;
      padding: 2.4rem;
      @include mq(custom, max, 1024) {
        display: none;
      }
    }

    &__right-title {
      font-weight: 400;
      font-size: 2.4rem;
      color: var(--white);
    }

    &__right-desc {
      color: var(--secondary);
      padding-left: 2.4rem;
      border-left: 0.2rem solid var(--yunesko-main);
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 2.4rem;
        }
    }

    &__item-title {
        font-size: 1.8rem;
        color: var(--white);
        margin-bottom: 1.6rem;
    }

    &__item-text {
        padding-left: 2.4rem;
        border-left: 0.2rem solid var(--main);
        color: var(--secondary);
    }

    &__img {
        position: absolute;
        z-index: -1;
        top: -16rem;
        left: 48%;
        width: 92.7rem;
        height: 92.7rem;

        @include mq(xl) {
            top: -10rem;
        }

        @include mq(custom, max, 1024) {
            display: none;
        }
    }
}
