main.page-main.main
    .sections-container
        +breadcrumbs([['Главная', "/"], ['Собственные научные издания']])(class='breadcrumbs--large-indentation-bottom')
        include own-scientific-publications.pug
        include ../index/latest-news.pug
