section.section.own-scientific-publications
  .site-container
    +title('icon__document-signed', 'Научные издания')
    .own-scientific-publications__inner
      .own-scientific-publications__item
        .own-scientific-publications__item-inner
          .own-scientific-publications__item-col
            .own-scientific-publications__item-title Молодая наука
            .own-scientific-publications__item-text
              p
                | Основная цель нашего журнала — прояснить суть современного международного права, выявить основные тенденции его развития и понять его место и роль в мировой системе.
              p
                | Журнал имеет междисциплинарный характер, где международное право рассматривается в системе международных отношений и политики.
          .own-scientific-publications__item-col
            .own-scientific-publications__item-release
              .own-scientific-publications__item-release-title
                | Выпуск этого года #[span ]
              .swiper.own-scientific-publications__item-release-slider.simple-slider
                .swiper-wrapper.own-scientific-publications__item-release-wrapper
                  .swiper-slide.own-scientific-publications__item-release-slide(data-year='2023')
                    +button('a', 'btn--transparent', 'Выпуск №1', '#', 'icon__document-signed', 'icon__cloud-download')
                    +button('a', 'btn--transparent', 'Выпуск №1', '#', 'icon__document-signed', 'icon__cloud-download')
                    +button('a', 'btn--transparent', 'Выпуск №1', '#', 'icon__document-signed', 'icon__cloud-download')
                  .swiper-slide.own-scientific-publications__item-release-slide(data-year='2024')
                    +button('a', 'btn--transparent', 'Выпуск №1', '#', 'icon__document-signed', 'icon__cloud-download')
                    +button('a', 'btn--transparent', 'Выпуск №1', '#', 'icon__document-signed', 'icon__cloud-download')
                +swiper-nav(false, true)
      .own-scientific-publications__contain
        .own-scientific-publications__item
          .own-scientific-publications__item-inner
            .own-scientific-publications__item-col
              .own-scientific-publications__item-title Вестник Университета управления «ТИСБИ»
              .own-scientific-publications__item-notification
                +icon-multi('icon__info-orange')(width='20px' height='20px')
                .own-scientific-publications__item-notification-text Журнал стал ВАК
              //- .own-scientific-publications__item-announcement Открыт прием статей
              .own-scientific-publications__item-text
                p
                  | Журнал Вестник Университета управления «ТИСБИ» является периодическим научно-информационным изданием. На его страницах печатаются статьи, научные исследования и разработки в области юриспруденции, гуманитарного и экономического знания, а также в смежных областях — таких как социальная сфера, педагогика и психология.
            .own-scientific-publications__item-col
              .own-scientific-publications__item-board
                .own-scientific-publications__item-board-title Редакционная коллегия
                .own-scientific-publications__item-board-users
                  .own-scientific-publications__item-board-user
                    .own-scientific-publications__item-board-user-img
                      img.own-scientific-publications__item-board-user-img-user(src="assets/images/user-5.jpg" alt='')
                    .own-scientific-publications__item-board-box
                      .own-scientific-publications__item-board-box-title
                        | Александр Борисович Мезяев
                      .own-scientific-publications__item-board-box-prof
                        | Главный редактор
                  .own-scientific-publications__item-board-user
                    .own-scientific-publications__item-board-user-img
                      img.own-scientific-publications__item-board-user-img-user(src="assets/images/user-6.jpg" alt='')
                    .own-scientific-publications__item-board-box
                      .own-scientific-publications__item-board-box-title
                        | Евгений Юрьевич Мотрохин
                      .own-scientific-publications__item-board-box-prof
                        | Ответственный секретарь
          +button('a', '', 'Перейти на сайт журнала', '#', '', 'icon__angle-small-right-white')
        .own-scientific-publications__item
          .own-scientific-publications__item-inner
            .own-scientific-publications__item-col
              .own-scientific-publications__item-title Журнал «Инклюзия в образовании»
              .own-scientific-publications__item-notification
                +icon-multi('icon__info-orange')(width='20px' height='20px')
                .own-scientific-publications__item-notification-text Журнал стал ВАК
              //- .own-scientific-publications__item-announcement Открыт прием статей
              .own-scientific-publications__item-text
                p
                  | Журнал зарегистрирован Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций, Свидетельство номер ПИ № ФС 77 – 67742 дата регистрации 10.11.2016 года, территория распространения Российская Федерация, зарубежные страны. ISSN 2499–9830. Статьи размещаются в Научной электронной библиотеке (РУНЭБ) и индексируются в РИНЦ (Российский индекс научного цитирования), что, безусловно, отражается на рейтингах авторов. Редакция предлагает Вам, Вашим коллегам и ученикам возможность публиковать статьи по направлению «Педагогические науки» и, прежде всего, по вопросам, связанным с инклюзивным образованием. Перспективность и актуальность развития инклюзивного образования в России и в мире очевидна.
            .own-scientific-publications__item-col
              .own-scientific-publications__item-board
                .own-scientific-publications__item-board-title Редакционная коллегия
                .own-scientific-publications__item-board-users
                  .own-scientific-publications__item-board-user
                    .own-scientific-publications__item-board-user-img
                      img.own-scientific-publications__item-board-user-img-user(src="assets/images/user-5.jpg" alt='')
                    .own-scientific-publications__item-board-box
                      .own-scientific-publications__item-board-box-title
                        | Александр Борисович Мезяев
                      .own-scientific-publications__item-board-box-prof
                        | Главный редактор
                  .own-scientific-publications__item-board-user
                    .own-scientific-publications__item-board-user-img
                      img.own-scientific-publications__item-board-user-img-user(src="assets/images/user-6.jpg" alt='')
                    .own-scientific-publications__item-board-box
                      .own-scientific-publications__item-board-box-title
                        | Евгений Юрьевич Мотрохин
                      .own-scientific-publications__item-board-box-prof
                        | Ответственный секретарь
          +button('a', '', 'Перейти на сайт журнала', '#', '', 'icon__angle-small-right-white')
      .own-scientific-publications__item
        .own-scientific-publications__item-inner
          .own-scientific-publications__item-col
            .own-scientific-publications__item-title
              | Казанский журнал международного права и международных отношений
            .own-scientific-publications__item-text
              p
                | Основная цель нашего журнала — прояснить суть современного международного права, выявить основные тенденции его развития и понять его место и роль в мировой системе.
              p
                | Журнал имеет междисциплинарный характер, где международное право рассматривается в системе международных отношений и политики.
          .own-scientific-publications__item-col.own-scientific-publications__item-col--short
            .own-scientific-publications__item-board
              .own-scientific-publications__item-board-title Редакционная коллегия
              .own-scientific-publications__item-board-users
                .own-scientific-publications__item-board-user
                  .own-scientific-publications__item-board-user-img
                    img.own-scientific-publications__item-board-user-img-user(src="assets/images/user-5.jpg" alt='')
                  .own-scientific-publications__item-board-box
                    .own-scientific-publications__item-board-box-title
                      | Александр Борисович Мезяев
                    .own-scientific-publications__item-board-box-prof
                      | Главный редактор
                .own-scientific-publications__item-board-user
                  .own-scientific-publications__item-board-user-img
                    img.own-scientific-publications__item-board-user-img-user(src="assets/images/user-6.jpg" alt='')
                  .own-scientific-publications__item-board-box
                    .own-scientific-publications__item-board-box-title
                      | Евгений Юрьевич Мотрохин
                    .own-scientific-publications__item-board-box-prof
                      | Ответственный секретарь
        +button('a', '', 'Перейти на сайт журнала', '#', '', 'icon__angle-small-right-white')
      .own-scientific-publications__item
        .own-scientific-publications__item-inner
          .own-scientific-publications__item-col
            .own-scientific-publications__item-title
              | Сборники научных трудов
            .own-scientific-publications__item-text
              p
                | Основная цель нашего журнала — прояснить суть современного международного права, выявить основные тенденции его развития и понять его место и роль в мировой системе.
              p
                | Журнал имеет междисциплинарный характер, где международное право рассматривается в системе международных отношений и политики.
            +button('a', '', 'Медиа', '#', '', 'icon__angle-small-right-white')
          .own-scientific-publications__item-col
            .own-scientific-publications__item-release-title Последняя конференция этого года #[span 2024]
            .own-scientific-publications__item-desc
              | Взаимодействие бизнеса и общества в условиях трансформации информационных процессов и технологий
            ul.own-scientific-publications__item-info
              li.own-scientific-publications__item-info-item
                  +icon-multi("icon__calendar")(width="16px" height="16px")
                  .own-scientific-publications__item-info-item-text 18.04.2024
                    span 11:20
              li.own-scientific-publications__item-info-item
                  +icon-multi("icon__marker")(width="16px" height="16px")
                  .own-scientific-publications__item-info-item-text
                    | Казань, ул. Муштари, д.13
              li.own-scientific-publications__item-info-item
                  +icon-multi("icon__shuffle")(width="16px" height="16px")
                  .own-scientific-publications__item-info-item-text
                    | Смешанная
            +button('a', '', 'Архив', '#', '', 'icon__angle-small-right-white')
