.search-filter {
    margin-bottom: 4.8rem;

    @include mq(custom, max, 1024) {
      margin-bottom: 2.4rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__input {
        position: relative;
        flex: 1;
    }

    &__input-icon {
        position: absolute;
        top: 50%;
        left: 1.2rem;
        transform: translateY(-50%);
    }

    &__input-elem {
        padding-left: 4.4rem;

        &::placeholder {
            color: var(--white);
        }
    }

    &__box {
        display: flex;
        gap: 2.4rem;
        margin-bottom: 2.4rem;

        @include mq(custom, max, 640) {
            gap: 1.6rem;
        }
    }

    &__btn-filter {
        position: relative;

        &.is-open {
          border: .2rem solid var(--main);
        }

        &.active {
            &::before {
                content: '';
                position: absolute;
                top: -0.6rem;
                right: -0.6rem;
                width: 1.2rem;
                height: 1.2rem;
                border-radius: 50%;
                background-color: var(--main);
            }
        }
    }

    &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.6rem;

        @include mq(custom, max, 1024) {
            flex-wrap: nowrap;
            overflow-x: auto;
            margin: 0 -3.2rem;
            padding: 0 3.2rem;
            @include noScrollbar;
        }

        @include mq(custom, max, 640) {
            gap: 0.8rem;
        }
    }

    &__tag {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-weight: 400;
        font-size: 1.4rem;
        border-radius: .4rem;
        padding: .8rem 1.2rem .8rem 1.6rem;
        color: var(--white);
        background: var(--secondary-10);

        @include mq(custom, max, 1024) {
            flex-shrink: 0;
        }
    }

    &__tag-btn-close {
        cursor: pointer;
        padding: 0.4rem;
        box-sizing: content-box;
        fill: var(--main);
        transition: fill 0.3s;

        &:hover {
            fill:rgba(255, 92, 0, 0.8);
        }
    }

    &__select-text {
        position: absolute;
        top: 50%;
        left: 1.6rem;
        transform: translateY(-50%);

        @include mq(custom, max, 640) {
            display: none;
        }
    }


    &__extended {
      height: 0;
      overflow: hidden;

      &.is-open {
        height: 100%;
        margin-bottom: 2.4rem;
      }
    }

    &__extended-inner {
      position: relative;
      display: flex;
      gap: 2.4rem;
      border: .2rem solid var(--secondary-10);
      border-radius: 1.6rem;
      padding: 2.4rem;
      background: rgba(75, 75, 75, 0.1);

      @include mq(custom, max, 1024) {
        flex-direction: column;
        align-items: center;
      }
    }

    &__extended-calendar {
      display: flex;
      flex-direction: column;
      width: 48rem;
      flex-shrink: 0;

      @include mq(custom, max, 1024) {
        width: auto;
      }

      @include mq(custom, max, 460) {
        .air-datepicker-body {
          min-width: auto;
        }
      }
    }

    &__extended-calendar-btns  {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 2.4rem;
      order: 1;
    }

    &__extended-calendar-btn2 {
      display: none;
    }

    &__extended-selects {
      width: 100%;
      padding-bottom: 6rem;

      @include mq(custom, max, 1024) {
        order: -1;
        padding-bottom: 0;
      }
    }

    &__extended-select {
      position: relative;
      color: var(--white);
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      margin-bottom: 2.4rem;

      &:nth-child(1) {
        z-index: 5;
      }
      &:nth-child(2) {
        z-index: 4;
      }
      &:nth-child(3) {
        z-index: 3;
      }
      &:nth-child(4) {
        z-index: 2;
      }
      &:nth-child(5) {
        z-index: 1;
      }

      .choices-select {
          visibility: hidden;
      }

      .choices__inner {
          position: relative;
          z-index: 1;
          padding: 0.7rem 1.6rem 0rem 1.6rem;
          min-height: 4.4rem;

          @include mq(custom, max, 640) {
              background-color: rgba(142, 150, 175, 0.2);
              border: 0.2rem solid rgba(142, 150, 175, 0.2);
          }
      }

      .choices[data-type*=select-one]::after {
          top: 48%;

          @include mq(custom, max, 640) {
              right: 1.1rem;
              top: 33%;
              width: 2rem;
              height: 2rem;
              background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3038_2461)'%3E%3Cpath d='M5.83333 0H3.33333C2.44928 0 1.60143 0.35119 0.976311 0.976311C0.35119 1.60143 0 2.44928 0 3.33333L0 5.83333C0 6.71739 0.35119 7.56524 0.976311 8.19036C1.60143 8.81548 2.44928 9.16667 3.33333 9.16667H5.83333C6.71739 9.16667 7.56524 8.81548 8.19036 8.19036C8.81548 7.56524 9.16667 6.71739 9.16667 5.83333V3.33333C9.16667 2.44928 8.81548 1.60143 8.19036 0.976311C7.56524 0.35119 6.71739 0 5.83333 0V0ZM7.5 5.83333C7.5 6.27536 7.32441 6.69928 7.01184 7.01184C6.69928 7.32441 6.27536 7.5 5.83333 7.5H3.33333C2.89131 7.5 2.46738 7.32441 2.15482 7.01184C1.84226 6.69928 1.66667 6.27536 1.66667 5.83333V3.33333C1.66667 2.89131 1.84226 2.46738 2.15482 2.15482C2.46738 1.84226 2.89131 1.66667 3.33333 1.66667H5.83333C6.27536 1.66667 6.69928 1.84226 7.01184 2.15482C7.32441 2.46738 7.5 2.89131 7.5 3.33333V5.83333Z' fill='%23A6ABBD' /%3E%3Cpath d='M5.83333 10.8333H3.33333C2.44928 10.8333 1.60143 11.1845 0.976311 11.8096C0.35119 12.4347 0 13.2826 0 14.1667L0 16.6667C0 17.5507 0.35119 18.3986 0.976311 19.0237C1.60143 19.6488 2.44928 20 3.33333 20H5.83333C6.71739 20 7.56524 19.6488 8.19036 19.0237C8.81548 18.3986 9.16667 17.5507 9.16667 16.6667V14.1667C9.16667 13.2826 8.81548 12.4347 8.19036 11.8096C7.56524 11.1845 6.71739 10.8333 5.83333 10.8333V10.8333ZM7.5 16.6667C7.5 17.1087 7.32441 17.5326 7.01184 17.8452C6.69928 18.1577 6.27536 18.3333 5.83333 18.3333H3.33333C2.89131 18.3333 2.46738 18.1577 2.15482 17.8452C1.84226 17.5326 1.66667 17.1087 1.66667 16.6667V14.1667C1.66667 13.7246 1.84226 13.3007 2.15482 12.9881C2.46738 12.6756 2.89131 12.5 3.33333 12.5H5.83333C6.27536 12.5 6.69928 12.6756 7.01184 12.9881C7.32441 13.3007 7.5 13.7246 7.5 14.1667V16.6667Z' fill='%23A6ABBD' /%3E%3Cpath d='M18.5777 15.8741L16.6669 17.7825V2.19414L18.5777 4.10248C18.6552 4.17985 18.7471 4.24121 18.8482 4.28306C18.9493 4.32491 19.0577 4.34643 19.1672 4.34639C19.2767 4.34636 19.385 4.32476 19.4861 4.28284C19.5873 4.24091 19.6791 4.17948 19.7565 4.10206C19.8339 4.02463 19.8952 3.93273 19.9371 3.83159C19.9789 3.73045 20.0004 3.62205 20.0004 3.5126C20.0004 3.40314 19.9788 3.29476 19.9368 3.19365C19.8949 3.09254 19.8335 3.00068 19.7561 2.92331L17.6002 0.770807C17.1315 0.302638 16.4961 0.0396729 15.8336 0.0396729C15.1711 0.0396729 14.5357 0.302638 14.0669 0.770807L11.9111 2.92331C11.8337 3.00068 11.7722 3.09254 11.7303 3.19365C11.6884 3.29476 11.6668 3.40314 11.6667 3.5126C11.6667 3.62205 11.6882 3.73045 11.7301 3.83159C11.7719 3.93273 11.8333 4.02463 11.9107 4.10206C11.988 4.17948 12.0799 4.24091 12.181 4.28284C12.2821 4.32476 12.3905 4.34636 12.5 4.34639C12.6094 4.34643 12.7178 4.32491 12.8189 4.28306C12.9201 4.24121 13.012 4.17985 13.0894 4.10248L15.0002 2.19414V17.7825L13.0894 15.8741C13.012 15.7968 12.9201 15.7354 12.8189 15.6936C12.7178 15.6517 12.6094 15.6302 12.5 15.6302C12.3905 15.6303 12.2821 15.6519 12.181 15.6938C12.0799 15.7357 11.988 15.7971 11.9107 15.8746C11.8333 15.952 11.7719 16.0439 11.7301 16.145C11.6882 16.2462 11.6667 16.3546 11.6667 16.464C11.6668 16.5735 11.6884 16.6819 11.7303 16.783C11.7722 16.8841 11.8337 16.9759 11.9111 17.0533L14.0669 19.2058C14.5357 19.674 15.1711 19.937 15.8336 19.937C16.4961 19.937 17.1315 19.674 17.6002 19.2058L19.7561 17.0533C19.8335 16.9759 19.8949 16.8841 19.9368 16.783C19.9788 16.6819 20.0004 16.5735 20.0004 16.464C20.0004 16.3546 19.9789 16.2462 19.9371 16.145C19.8952 16.0439 19.8339 15.952 19.7565 15.8746C19.6791 15.7971 19.5873 15.7357 19.4861 15.6938C19.385 15.6519 19.2767 15.6303 19.1672 15.6302C19.0577 15.6302 18.9493 15.6517 18.8482 15.6936C18.7471 15.7354 18.6552 15.7968 18.5777 15.8741V15.8741Z' fill='%23A6ABBD' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3038_2461'%3E%3Crect width='20' height='20' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
          }
      }

      .choices[data-type*=select-one].is-open::after {

          @include mq(custom, max, 640) {
              transform: none;
              margin-top: -0.2rem;
              background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_3038_2461)'%3E%3Cpath d='M5.83333 0H3.33333C2.44928 0 1.60143 0.35119 0.976311 0.976311C0.35119 1.60143 0 2.44928 0 3.33333L0 5.83333C0 6.71739 0.35119 7.56524 0.976311 8.19036C1.60143 8.81548 2.44928 9.16667 3.33333 9.16667H5.83333C6.71739 9.16667 7.56524 8.81548 8.19036 8.19036C8.81548 7.56524 9.16667 6.71739 9.16667 5.83333V3.33333C9.16667 2.44928 8.81548 1.60143 8.19036 0.976311C7.56524 0.35119 6.71739 0 5.83333 0V0ZM7.5 5.83333C7.5 6.27536 7.32441 6.69928 7.01184 7.01184C6.69928 7.32441 6.27536 7.5 5.83333 7.5H3.33333C2.89131 7.5 2.46738 7.32441 2.15482 7.01184C1.84226 6.69928 1.66667 6.27536 1.66667 5.83333V3.33333C1.66667 2.89131 1.84226 2.46738 2.15482 2.15482C2.46738 1.84226 2.89131 1.66667 3.33333 1.66667H5.83333C6.27536 1.66667 6.69928 1.84226 7.01184 2.15482C7.32441 2.46738 7.5 2.89131 7.5 3.33333V5.83333Z' fill='%23fff' /%3E%3Cpath d='M5.83333 10.8333H3.33333C2.44928 10.8333 1.60143 11.1845 0.976311 11.8096C0.35119 12.4347 0 13.2826 0 14.1667L0 16.6667C0 17.5507 0.35119 18.3986 0.976311 19.0237C1.60143 19.6488 2.44928 20 3.33333 20H5.83333C6.71739 20 7.56524 19.6488 8.19036 19.0237C8.81548 18.3986 9.16667 17.5507 9.16667 16.6667V14.1667C9.16667 13.2826 8.81548 12.4347 8.19036 11.8096C7.56524 11.1845 6.71739 10.8333 5.83333 10.8333V10.8333ZM7.5 16.6667C7.5 17.1087 7.32441 17.5326 7.01184 17.8452C6.69928 18.1577 6.27536 18.3333 5.83333 18.3333H3.33333C2.89131 18.3333 2.46738 18.1577 2.15482 17.8452C1.84226 17.5326 1.66667 17.1087 1.66667 16.6667V14.1667C1.66667 13.7246 1.84226 13.3007 2.15482 12.9881C2.46738 12.6756 2.89131 12.5 3.33333 12.5H5.83333C6.27536 12.5 6.69928 12.6756 7.01184 12.9881C7.32441 13.3007 7.5 13.7246 7.5 14.1667V16.6667Z' fill='%23fff' /%3E%3Cpath d='M18.5777 15.8741L16.6669 17.7825V2.19414L18.5777 4.10248C18.6552 4.17985 18.7471 4.24121 18.8482 4.28306C18.9493 4.32491 19.0577 4.34643 19.1672 4.34639C19.2767 4.34636 19.385 4.32476 19.4861 4.28284C19.5873 4.24091 19.6791 4.17948 19.7565 4.10206C19.8339 4.02463 19.8952 3.93273 19.9371 3.83159C19.9789 3.73045 20.0004 3.62205 20.0004 3.5126C20.0004 3.40314 19.9788 3.29476 19.9368 3.19365C19.8949 3.09254 19.8335 3.00068 19.7561 2.92331L17.6002 0.770807C17.1315 0.302638 16.4961 0.0396729 15.8336 0.0396729C15.1711 0.0396729 14.5357 0.302638 14.0669 0.770807L11.9111 2.92331C11.8337 3.00068 11.7722 3.09254 11.7303 3.19365C11.6884 3.29476 11.6668 3.40314 11.6667 3.5126C11.6667 3.62205 11.6882 3.73045 11.7301 3.83159C11.7719 3.93273 11.8333 4.02463 11.9107 4.10206C11.988 4.17948 12.0799 4.24091 12.181 4.28284C12.2821 4.32476 12.3905 4.34636 12.5 4.34639C12.6094 4.34643 12.7178 4.32491 12.8189 4.28306C12.9201 4.24121 13.012 4.17985 13.0894 4.10248L15.0002 2.19414V17.7825L13.0894 15.8741C13.012 15.7968 12.9201 15.7354 12.8189 15.6936C12.7178 15.6517 12.6094 15.6302 12.5 15.6302C12.3905 15.6303 12.2821 15.6519 12.181 15.6938C12.0799 15.7357 11.988 15.7971 11.9107 15.8746C11.8333 15.952 11.7719 16.0439 11.7301 16.145C11.6882 16.2462 11.6667 16.3546 11.6667 16.464C11.6668 16.5735 11.6884 16.6819 11.7303 16.783C11.7722 16.8841 11.8337 16.9759 11.9111 17.0533L14.0669 19.2058C14.5357 19.674 15.1711 19.937 15.8336 19.937C16.4961 19.937 17.1315 19.674 17.6002 19.2058L19.7561 17.0533C19.8335 16.9759 19.8949 16.8841 19.9368 16.783C19.9788 16.6819 20.0004 16.5735 20.0004 16.464C20.0004 16.3546 19.9789 16.2462 19.9371 16.145C19.8952 16.0439 19.8339 15.952 19.7565 15.8746C19.6791 15.7971 19.5873 15.7357 19.4861 15.6938C19.385 15.6519 19.2767 15.6303 19.1672 15.6302C19.0577 15.6302 18.9493 15.6517 18.8482 15.6936C18.7471 15.7354 18.6552 15.7968 18.5777 15.8741V15.8741Z' fill='%23fff' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3038_2461'%3E%3Crect width='20' height='20' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
          }
      }

      .choices__list {
        top: 103% !important;
        z-index: 3;
        background: var(--block);
      }

      .choices__list--single {
          font-size: 1.6rem;

          @include mq(custom, max, 640) {
              display: none;
          }
      }

      .choices__input {
        background-color: transparent;
        color: var(--white);

        &::placeholder {
          color: var(--white);
        };
      }

      .choices__list--multiple .choices__item {
        background-color: var(--main);
        border-color: var(--main);
      }

      .choices[data-type*=select-multiple] .choices__button {
        border-color: var(--white);
      }
  }

    &__extended-select-title {
      color: var(--white);
    }

    &__extended-btn {
      position: absolute;
      right: 2.4rem;
      bottom: 2.4rem;

      @include mq(custom, max, 1024) {
        position: static;
        width: 100%;
      }
    }
}
